@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background-image: url("/img/fondoDinastia.png");
}
.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  text-decoration: none;
  margin: 50px;
}

.navbar a {
  font-family: Poppins;
  font-size: 1.6rem;
  color: #fcc02c;
  text-decoration: none;
  font-weight: 600;
  margin-left: 6rem;
}

#carouselExampleIndicators {
  margin-top: -150px;
  margin-bottom: -150px;
}

.menu h3 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 80px;
  margin: 80px;
}

.combo h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 80px;
  margin: 80px;
}

.icons {
  font-size: 2.8rem;
  color: #fcc02c;
  cursor: pointer;
  display: none;
  right: 5%;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }
}
.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 17.7rem;
  background-color: black;
}
.navbar a {
  display: block;
  font-size: 1.1rem;
  margin: 1.5rem 0;
  text-align: center;
}

.btCM button {
  color: black;
  background-color: #fcc02c;
}
.contenedor img {
  height: 100;
  width: 100;
}
