@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}

.map {
  flex: 1;
  margin-right: 40px;
}

.content-info {
  flex: 2;
  align-items: center;
  margin-left: 10%;
}

.text-dir {
  color: white;
  font-size: 40px;
  font-weight: 500;
  background-color: #fcc02c;
  border-radius: 20px;
  width: 38%;
}
.text-dir i {
  margin-right: 10px;
}
.content-dir {
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.content-wsp {
  margin: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.text-wsp {
  color: white;
  font-size: 40px;
  font-weight: 500;
  background-color: rgb(41, 199, 76);
  border-radius: 20px;
  width: 40%;
}
.text-wsp h3 i {
  margin-left: 10px;
}
.text-dir h3 i {
  margin-left: 10px;
}
.text-wsp i {
  margin-right: 10px;
}
